@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Luxurious+Roman&family=Major+Mono+Display&family=Tilt+Neon&display=swap');
/*Formatação do corpo do site*/
body{
    font-family: "Cinzel";
    color: rgb(247, 240, 240);
    font-size: 1.3rem;
    background-image: linear-gradient(#0d0d0d, #111827, #1a1a1d, #0f0f1a, #1b1b2f);
    margin: 0;
    padding: 30px;
}

/*h1*/
.titulo{
    padding: 10px;
    font-family: "Anton";
    font-size: 1.8rem;
    letter-spacing: 1.6rem;
    background-color: #3e09553c;
    color: rgb(227, 221, 221);
    text-align: center;
}

/*Tabelas*/
.F1{
    width: 90%;
    border-collapse:collapse;
    border-style: outset;
    font-size: 1.6rem;
    text-align: center;
}

td, th{
    border: 1px solid rgb(194, 3, 3);
    padding: 8px;
    text-align: center;
}

.sla img{
    width: 100%;
    height: auto;
    max-width: 200px;
    border-radius: 5px;
}

.F1 tr:nth-child(even){
    background-color: rgba(242, 240, 240, 0.729);
    color: #0d0d0d;
}
h3{
    margin-top: 20px;
}

/*Formatação do texto*/
p{
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    max-width: 1100px;
    padding: 15px;
}
@media (max-width: 600px){
    body{
        padding: 2px;
    }
    th, td{
        font-size: 14px;
        padding: 5px;
    }
    img{
        max-width: 160px;
    }
    ul{
        padding-left: 20px;
    }
    .titulo{
        letter-spacing: 0.2rem;
        font-size: 1.4rem;
    }
    .seta{
        right: 0;
        top: -10px;
        font-size: 20px;
    }
    .bloco{
        overflow-x: auto;
    }
}

.italic{
    font-style: italic;
}

/*Links*/
a:link, a:visited{
    color: rgb(241, 238, 238);
    text-decoration: none;
}
a:hover, a:active{
    color: rgb(22, 132, 8);
    text-decoration: underline;
}

.gyro {
    color: rgb(2, 142, 39) !important;
}

/*posicionar da seta*/
.bloco{
    overflow-x: auto;
    width: 100%;
    position: relative;
}
.seta{
position: absolute;
right: 40px;
top: 10px;
font-size: 24px;
}
.seta a{
    color:#ffffff;
}
.seta a:hover {
    color: rgb(22, 132, 8);
}