@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Cinzel:wght@400..900&family=Luxurious+Roman&family=Major+Mono+Display&family=Tilt+Neon&display=swap');
/*Formatação do corpo do site*/
body{
    font-family: "Cinzel";
    color: rgb(247, 240, 240);
    font-size: 1.3rem;
    background-image: linear-gradient(#0d0d0d, #111827, #1a1a1d, #0f0f1a, #1b1b2f);
}

/*h1*/
.titulo{
    padding: 10px;
    font-family: "Anton";
    font-size: 1.8rem;
    letter-spacing: 2rem;
    background-color: #3e09553c;
    color: rgb(227, 221, 221);
    font-style:oblique;
    text-align: center;
}

/*Tabelas*/
.F1{
    width: 80%;
    border-collapse:collapse;
    border-style: outset;
    font-size: 2rem;
    text-align: center;
}

td, th{
    border: 1px solid rgb(194, 3, 3);
    padding: 5px;
    text-align: center;
}

.sla img{
    display: block;
    margin: auto;
    height: auto;
    width: 200px;
}
.F1 tr:nth-child(even){
    background-color: rgba(242, 240, 240, 0.729);
    color: #0d0d0d;
}
h3{
    margin-top: 20px;
}

/*Formatação do texto*/
p{
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
    max-width: 1100px;
    padding: 15px;
}
@media (max-width: 600px){
    p{
        font-size: 1rem;
        line-height: 1.8;
    }
}

.italic{
    font-style: italic;
}

/*Links*/
a:link, a:visited{
    color: rgb(241, 238, 238);
    text-decoration: none;
}
a:hover, a:active{
    color: rgb(22, 132, 8);
    text-decoration: underline;
}

.gyro {
    color: rgb(2, 142, 39) !important;
}

/*posicionar da seta*/
.bloco{
    display: flex;
    align-items: center;
    gap: 10px;
}
.seta{
    width: 25px;
}
